script(type="text/javascript", src="/javascripts/jquery.js")
script(type="text/javascript", src="/javascripts/timeline-min.js")
script(type="text/javascript", src="/javascripts/jquery.autosize-min.js")
script(type="text/javascript", src="http://platform.linkedin.com/in.js") 
	api_key: f912s66vnvet
	onLoad: onLinkedInLoad
	authorize: true
script(type="text/javascript", src="/javascripts/index.js")
script(type='in/Login') Hello, <?js= firstName ?> <?js= lastName ?>


<!--[if lt IE 9]>
script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
<![endif]-->
div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			a.brand Express resume
			a.btn.btn-right Get PDF
div#timeline
script(type='in/Login')
