script(type="text/javascript", src="/javascripts/jquery.js")
script(type="text/javascript", src="http://platform.linkedin.com/in.js") 
  api_key: f912s66vnvet
  onLoad: onLinkedInLoad
  authorize: true
script(type="text/javascript", src="/javascripts/index.js")
script(type='in/Login')
