!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='http://platform.linkedin.com/in.js')
			api_key: 'f912s66vnvet'
	body!= body
